$main-font: 'Roboto', sans-serif
$title-font: 'Roboto Condensed', sans-serif
$black: #072450
$white: #ffffff
$blue: #2B7AF4
$lightblue: #1961AC
$yellow: #FFEC62
$hoverWhite: #FFF7C0
$hoverBlue: #5799FF

$transition: 0.2s ease

$container: 1024px

$laptop: 1280px
$tablet: 1040px
$mobile: 414px
$mobile320: 374px
