@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@300;500;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  vertical-align: top;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 120%;
  font-weight: 400;
  color: #072450;
  background: #ffffff;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.03em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.overflow {
  overflow: hidden;
}

@media (max-width: 414px) {
  .container {
    max-width: 414px;
  }
}
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 16px;
}
.swiper-pagination-bullet-active {
  background: #2B7AF4 !important;
}
.swiper-pagination-bullets {
  width: auto !important;
}
.swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  position: relative !important;
  right: -32px !important;
  margin-top: 0 !important;
  top: auto !important;
  z-index: 10;
}
.swiper-button-next:after {
  content: url("/src/img/arrow-right.svg");
  font-size: 0 !important;
}
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  position: relative;
  left: -72px !important;
  margin-top: 0 !important;
  top: auto !important;
  z-index: 10;
}
.swiper-button-prev:after {
  content: url("/src/img/arrow-left.svg");
  font-size: 0 !important;
}

@media (max-width: 1040px) {
  .swiper-wrapper {
    margin-left: 24px;
  }
  .swiper-button-next {
    display: none !important;
  }
  .swiper-button-prev {
    display: none !important;
  }
}
.header {
  border-bottom: 1px solid #2B7AF4;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.header__logo {
  margin-right: 16px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  margin-right: 40px;
}
.header__item-link {
  color: #072450;
  transition: 0.2s ease;
}
.header__item-link:hover {
  color: #2B7AF4;
  transition: 0.2s ease;
}
.header__lang {
  display: flex;
  align-items: center;
  background: #CADEFC;
  border-radius: 12px;
}
.header__lang-item {
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s ease;
}
.header__lang-item.active {
  background: #2B7AF4;
  border-radius: 12px;
  color: #ffffff;
  transition: 0.2s ease;
}
.header__hr {
  border: none;
  background: #ffffff;
  height: 1px;
  margin: 0;
  position: relative;
  width: calc(100% + 48px);
  left: -24px;
}

.hamburger {
  display: none;
}

@media (max-width: 1040px) {
  .header__list {
    display: none;
  }

  .hamburger {
    display: block;
  }
  .hamburger__box {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 122;
  }
  .hamburger__box.active {
    position: relative;
  }
  .hamburger__box.active .top {
    transform: translateY(6px) translateX(0) rotate(225deg);
    background: #ffffff;
  }
  .hamburger__box.active .middle {
    opacity: 0;
  }
  .hamburger__box.active .bottom {
    transform: translateY(-6px) translateX(0) rotate(-225deg);
    width: 100%;
    background: #ffffff;
  }
  .hamburger__btn {
    position: relative;
    height: 14px;
    width: 22px;
    cursor: pointer;
    z-index: 100;
    transition: all 5ms ease-in-out;
  }
  .hamburger__btn-open {
    margin: 0 -8px 0 auto;
    top: -43px;
    transform: rotate(360deg);
  }
  .hamburger__btn_item {
    background: #2B7AF4;
    border: none;
    height: 2px;
    border-radius: 19px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
  }
  .hamburger__btn_item:nth-of-type(2) {
    top: 6px;
  }
  .hamburger__btn_item:nth-of-type(3) {
    top: 12px;
    background: #2B7AF4;
  }
  .hamburger__btn_text {
    font-size: 12px;
    color: #2B7AF4;
    padding-right: 8px;
    transition: 0.2s ease;
    position: relative;
    z-index: 10;
  }
  .hamburger__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    transition: 0.2s ease;
    overflow: hidden;
    z-index: 0;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    -webkit-overflow-scrolling: touch;
  }
  .hamburger__overlay-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    transition: 0.2s ease;
    opacity: 0;
    background: rgba(37, 31, 30, 0.78);
    transition-delay: 2s;
  }
  .hamburger__overlay-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 80px 24px;
    background: #2B7AF4;
    width: 75%;
    position: relative;
    z-index: 140;
  }
  .hamburger__overlay-img {
    opacity: 0.2;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
  }
  .hamburger__overlay-list {
    padding-top: 24px;
  }
  .hamburger__overlay-list-lang {
    display: flex;
    align-items: center;
    margin: 0 0 16px auto;
    background: #5799FF;
    border-radius: 12px;
    max-width: 88px;
  }
  .hamburger__overlay-list-lang-item {
    padding: 6px 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.2s ease;
    color: #ffffff;
  }
  .hamburger__overlay-list-lang-item.active {
    background: #ffffff;
    border-radius: 12px;
    color: #072450;
    transition: 0.2s ease;
  }
  .hamburger__overlay-list-item-link {
    cursor: pointer;
    display: block;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 16px;
    text-align: right;
  }
  .hamburger__overlay-item-link {
    color: #ffffff;
    font-weight: 500;
  }
  .hamburger__overlay-buttons {
    position: relative;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    list-style: none;
    margin: 0 auto;
    display: inline-block;
    padding: 40px 0 48px;
  }
  .hamburger__overlay-buttons_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    position: relative;
  }
  .hamburger__overlay-buttons_item:last-of-type {
    padding-bottom: 0;
  }
  .hamburger__overlay-buttons_item-link {
    border: 1px solid #BDC5D9;
    box-sizing: border-box;
    border-radius: 69px;
    display: block;
    position: relative;
    color: #2B7AF4;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    padding: 8px 32px;
  }
  .hamburger__overlay.open {
    transition: 0.2s ease;
    opacity: 1;
    z-index: 120;
    width: 100%;
  }
  .hamburger__overlay.open .hamburger__overlay-btn {
    opacity: 1;
    transition: 0.2s ease;
    position: fixed;
  }
  .hamburger__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
  }
  .hamburger__social-item {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .hamburger__social-item:last-child {
    margin-right: 0;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
@media (max-width: 1040px) and (min-width: 415px) {
  .hamburger__btn-open {
    margin: 0 auto;
  }
  .hamburger__overlay-box {
    max-width: 440px;
  }
}
@media (max-width: 1040px) and (max-width: 414px) {
  .hamburger__overlay-list_item-link {
    font-size: 16px;
  }
  .hamburger__overlay-buttons {
    padding: 16px 0 24px;
  }
  .hamburger__overlay-buttons_item {
    padding-bottom: 16px;
  }
}
.footer {
  background: #ffffff;
}
.footer__logo {
  display: flex;
}
.footer__inner {
  border-bottom: 1px solid #2B7AF4;
}
.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0;
}
.footer__copyright {
  padding: 16px 0;
}
.footer__copyright-text {
  color: #072450;
  font-weight: 300;
  font-size: 16px;
}
.footer__item {
  padding-bottom: 24px;
}
.footer__item:last-of-type {
  padding-bottom: 0;
}
.footer__item-link {
  color: #072450;
  transition: 0.2s ease;
}
.footer__item-link:hover {
  color: #2B7AF4;
  transition: 0.2s ease;
}
.footer__email {
  font-weight: 500;
  font-size: 28px;
  color: #072450;
  padding-left: 80px;
  transition: 0.2s ease;
}
.footer__email:hover {
  color: #2B7AF4;
  transition: 0.2s ease;
}
.footer__box {
  display: flex;
  align-items: flex-end;
  height: 140px;
}

@media (max-width: 1040px) {
  .footer__box {
    flex-direction: column-reverse;
    align-items: flex-start;
    height: auto;
  }
  .footer__email {
    padding-left: 0;
    padding-bottom: 32px;
  }
}
@media (max-width: 414px) {
  .footer__wrapper {
    flex-direction: column;
    padding: 88px 0 40px;
  }
  .footer__logo {
    padding-bottom: 88px;
  }
  .footer__list {
    width: 100%;
  }
  .footer__item {
    text-align: center;
  }
  .footer__copyright {
    font-size: 14px;
    text-align: center;
    max-width: 290px;
    margin: 0 auto;
  }
}
.course {
  width: 100%;
  background: url("/src/img/bg01.svg") top center no-repeat;
  margin-top: 12rem;
  padding-bottom: 80px;
}
.course__wrapper {
  justify-content: flex-start;
  width: 100%;
}
.course__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #1961AC;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  margin-bottom: 24px;
  margin-top: -64px;
}
@media (max-width: 414px) {
  .course__title {
    font-size: 36px;
  }
}
.course__title-box {
  max-width: 700px;
  padding-bottom: 12rem;
}
.course__subtitle {
  font-weight: 300;
  font-size: 28px;
  line-height: 120%;
  color: #072450;
  max-width: 495px;
}
.course__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 16px;
}
.course__cards-title {
  font-size: 28px;
  line-height: 115%;
  color: #ffffff;
  padding-bottom: 24px;
}
.course__cards-subtitle {
  color: #ffffff;
  font-weight: 300;
}
.course__cards-item {
  background: #2B7AF4;
  border-radius: 40px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course__cards-item-box {
  display: flex;
  flex-direction: column;
  max-width: 236px;
  padding-bottom: 120px;
}
.course__cards-btn {
  padding: 0 32px;
  border-radius: 40px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #2B7AF4;
  transition: 0.2s ease;
  cursor: pointer;
  background: #ffffff;
}
.course__cards-btn:hover {
  transition: 0.2s ease;
}
.course__cards-btn:hover {
  background: #FFF7C0;
  transition: 0.2s ease;
}

.about {
  padding: 80px 0;
}
.about__wrapper {
  display: flex;
}
.about__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
}
@media (max-width: 414px) {
  .about__title {
    font-size: 36px;
  }
}
.about__title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__title-img {
  display: none;
}
.about__text {
  font-size: 16px;
  line-height: 140%;
  color: #072450;
  font-weight: 300;
  padding-bottom: 16px;
}
.about__text-box {
  padding: 60px 0;
}
.about__box {
  width: 50%;
}
.about__img {
  margin-left: -100px;
  width: 50%;
  padding-right: 80px;
}
.about__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
}
.about__social-item {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  background: #2B7AF4;
  transition: 0.2s ease;
}
.about__social-item:last-child {
  margin-right: 0;
}
.about__social-item:hover {
  transition: 0.2s ease;
  background: #5799FF;
}

.slider {
  width: 100%;
  padding: 80px 0;
}
.slider__item {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.slider__item-wrapp {
  display: flex;
  align-items: center;
}
.slider__item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 115%;
}
.slider__item-title-box {
  color: black;
}
.slider__item-subtitle {
  color: #072450;
  line-height: 140%;
  font-weight: 300;
  margin-bottom: 16px;
}
.slider__item-avatar {
  margin-right: 40px;
  min-width: 100px;
  height: 100px;
}
.slider__item-text {
  background: #FFEC62;
  border-radius: 40px;
  padding: 40px;
  color: #072450;
  line-height: 140%;
  font-weight: 300;
  font-size: 16px;
  margin-top: 40px;
  position: relative;
}
.slider__item-text:before {
  content: url("/src/img/experience-tail.svg");
  position: absolute;
  top: -39px;
  left: 64px;
}
.slider__nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: max-content;
  margin: 0 auto;
  position: relative;
  padding: 64px 0;
}
.slider__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  text-align: center;
  padding-bottom: 64px;
}
@media (max-width: 414px) {
  .slider__title {
    font-size: 36px;
  }
}

.psycho {
  padding: 80px 0;
}
.psycho__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  padding-bottom: 64px;
  text-align: center;
}
@media (max-width: 414px) {
  .psycho__title {
    font-size: 36px;
  }
}
.psycho__wrapper {
  display: flex;
  width: 100%;
}
.psycho__list {
  width: 50%;
  padding-right: 40px;
}
.psycho__list-item {
  background: #FFFFFF;
  border: 1px solid #2B7AF4;
  box-shadow: -4px 6px 0px rgba(43, 122, 244, 0.25);
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 16px;
}
.psycho__list-item:last-child {
  margin-bottom: 0;
}
.psycho__list-item-text {
  font-size: 16px;
  font-weight: 300;
  color: #072450;
  line-height: 125%;
  padding-bottom: 16px;
}
.psycho__list-item-text:last-of-type {
  padding-bottom: 0;
}
.psycho__img {
  width: 100%;
}
.psycho__img-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.psycho__img-btn {
  padding: 0 32px;
  border-radius: 40px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s ease;
  cursor: pointer;
  background: #2B7AF4;
  margin-top: 40px;
}
.psycho__img-btn:hover {
  transition: 0.2s ease;
}
.psycho__img-btn:hover {
  background: #5799FF;
}
.psycho__img-btn_desk {
  display: block;
}
.psycho__img-btn_mob {
  display: none;
}

.help {
  background: url("/src/img/help-bg.svg") no-repeat bottom center;
  background-size: 100%;
  width: 100%;
  padding: 80px 0;
  background-position-y: 15rem;
}
.help__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  padding-bottom: 64px;
  text-align: center;
}
@media (max-width: 414px) {
  .help__title {
    font-size: 36px;
  }
}
.help__wrapper {
  display: flex;
  width: 100%;
}
.help__list {
  width: 50%;
  padding-left: 40px;
}
.help__list-item {
  background: #FFFFFF;
  border: 1px solid #2B7AF4;
  box-shadow: -4px 6px 0px rgba(43, 122, 244, 0.25);
  border-radius: 40px;
  padding: 40px;
  margin-bottom: 16px;
}
.help__list-item:last-of-type {
  margin-bottom: 0;
}
.help__list-item-text {
  font-size: 16px;
  font-weight: 300;
  color: #072450;
  line-height: 125%;
  padding-bottom: 16px;
}
.help__list-item-text:last-of-type {
  padding-bottom: 0;
}
.help__img {
  width: 100%;
  max-width: 480px;
}
.help__img_desk {
  display: block;
}
.help__img_mob {
  display: none;
}
.help__img-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.help__img-btn {
  padding: 0 32px;
  border-radius: 40px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s ease;
  cursor: pointer;
  background: #2B7AF4;
  margin-top: 40px;
}
.help__img-btn:hover {
  transition: 0.2s ease;
}
.help__img-btn:hover {
  background: #5799FF;
}
.help__img-btn_desk {
  display: block;
}
.help__img-btn_mob {
  display: none;
}

.donate {
  width: 100%;
}
.donate__wrapper {
  background: #FFEC62;
  border-radius: 40px;
  padding: 80px;
}
.donate__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.donate__box {
  width: 50%;
  max-width: 420px;
}
.donate__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  padding-bottom: 64px;
}
@media (max-width: 414px) {
  .donate__title {
    font-size: 36px;
  }
}
.donate__text {
  font-size: 16px;
  font-weight: 300;
  color: #072450;
  line-height: 125%;
  padding-bottom: 16px;
}
.donate__text:last-of-type {
  padding-bottom: 0;
}
.donate__btn {
  padding: 0 32px;
  border-radius: 40px;
  height: 56px;
  border: none;
  font-size: 20px;
  line-height: 120%;
  font-weight: 500;
  color: #ffffff;
  transition: 0.2s ease;
  cursor: pointer;
  background: #2B7AF4;
}
.donate__btn:hover {
  transition: 0.2s ease;
}
.donate__btn:hover {
  background: #5799FF;
}
.donate__btn-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
}
.donate__img {
  width: 50%;
  max-width: 550px;
}

.partners {
  width: 100%;
  padding: 80px 0;
}
.partners__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #072450;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  padding-bottom: 64px;
  width: 100%;
  text-align: center;
}
@media (max-width: 414px) {
  .partners__title {
    font-size: 36px;
  }
}
.partners__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.partners__item {
  padding: 0 16px;
  overflow: hidden;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid #2B7AF4;
  box-shadow: -4px 6px 0px rgba(43, 122, 244, 0.25);
  border-radius: 20px;
}
.partners__item-logo {
  width: 100%;
}

.questions {
  background: #2B7AF4;
  width: 100%;
  padding: 128px 0;
}
.questions__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 105%;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  padding-bottom: 12px;
}
@media (max-width: 414px) {
  .questions__title {
    font-size: 36px;
  }
}
.questions__title-box {
  width: 50%;
}
.questions__subtitle {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}
.questions__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 460px;
  width: 50%;
}
.questions__social-item {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 8px;
  background: #ffffff;
  transition: 0.2s ease;
}
.questions__social-item:last-child {
  margin-right: 0;
}
.questions__social-item:hover {
  transition: 0.2s ease;
  background: #FFF7C0;
}
.questions__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1040px) {
  .about {
    padding: 40px 0;
  }
  .about__title-img {
    display: block;
  }
  .about__text-box {
    padding-top: 24px;
  }

  .slider__item-text:before {
    top: -32px;
    left: 128px;
  }
  .slider__item-avatar {
    display: none;
  }
  .slider__nav-wrapper {
    width: 100%;
  }

  .psycho {
    padding: 40px 0;
  }
  .psycho__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
  .psycho__list {
    width: 100%;
    padding-right: 0;
  }
  .psycho__img-wrapper {
    width: 100%;
    margin-bottom: 24px;
  }
  .psycho__img-btn {
    margin-top: 24px;
  }
  .psycho__img-btn_desk {
    display: none;
  }
  .psycho__img-btn_mob {
    display: block;
  }

  .help {
    background: none;
    padding: 40px 0;
  }
  .help__wrapper {
    flex-direction: column;
  }
  .help__list {
    width: 100%;
    padding-left: 0;
  }
  .help__img {
    max-width: none;
    padding-bottom: 40px;
  }
  .help__img_desk {
    display: none;
  }
  .help__img_mob {
    display: block;
  }
  .help__img-wrapper {
    width: calc(100% + 64px);
    position: relative;
    left: -32px;
    margin: 0 auto;
  }
  .help__img-btn {
    margin-top: 8px;
  }
  .help__img-btn_desk {
    display: none;
  }
  .help__img-btn_mob {
    display: block;
  }
  .help__btn-mob-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .help__title {
    padding-bottom: 16px;
  }

  .about {
    padding: 40px 0;
  }
  .about__img {
    display: none;
  }
  .about__box {
    width: 100%;
  }
  .about__social {
    display: none;
  }

  .donate {
    padding: 40px 0;
  }
  .donate__wrapper {
    border-radius: 0;
    width: calc(100% + 64px);
    position: relative;
    left: -32px;
    padding: 80px 32px;
  }
  .donate__box {
    width: 100%;
  }
  .donate__img {
    display: none;
  }
  .donate__btn:first-child {
    margin-bottom: 24px;
  }
  .donate__btn-box {
    flex-direction: column;
    padding-top: 24px;
  }
  .donate__title {
    padding-bottom: 24px;
  }

  .questions {
    padding: 40px 0;
  }
  .questions__wrapper {
    flex-direction: column;
  }
  .questions__title {
    text-align: center;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 0;
  }
  .questions__title-box {
    width: 100%;
    padding-bottom: 24px;
  }
  .questions__subtitle {
    display: none;
  }
  .questions__social {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .questions__social-item {
    margin-right: 40px;
    margin-bottom: 16px;
  }
  .questions__social-item:nth-child(3) {
    margin-right: 0;
  }

  .partners__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .partners__item {
    height: 56px;
  }
}
@media (max-width: 414px) {
  .course {
    background-size: 200%;
    background-position-x: -24rem;
    background-position-y: 14rem;
    margin-top: 7rem;
  }
  .course__subtitle {
    font-size: 16px;
  }
  .course__cards-item {
    padding: 24px;
    width: calc(100% + 32px);
    position: relative;
    left: -16px;
    margin-bottom: 24px;
    align-items: center;
  }
  .course__cards-item:last-of-type {
    margin-bottom: 0;
  }
  .course__cards-item-box {
    padding-bottom: 40px;
    width: 100%;
    max-width: none;
  }
  .course__title-box {
    padding-bottom: 16em;
  }

  .help__title {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }
  .help__img {
    padding-bottom: 24px;
  }

  .slider__title {
    padding-bottom: 40px;
  }
}