.hamburger
  display: block
  &__box
    display: flex
    align-items: center
    cursor: pointer
    position: relative
    z-index: 122
    &.active
      position: relative
      .top
        transform: translateY(6px) translateX(0) rotate(225deg)
        background: $white
      .middle
        opacity: 0
      .bottom
        transform: translateY(-6px) translateX(0) rotate(-225deg)
        width: 100%
        background: $white
  &__btn
    position: relative
    height: 14px
    width: 22px
    cursor: pointer
    z-index: 100
    transition: all 005ms ease-in-out
    &-open
      margin: 0 -8px 0 auto
      top: -43px
      transform: rotate(360deg)
    &_item
      background: $blue
      border: none
      height: 2px
      border-radius: 19px
      width: 100%
      position: absolute
      top: 0
      left: 0
      transition: all 0.35s ease
      cursor: pointer
      &:nth-of-type(2)
        top: 6px
      &:nth-of-type(3)
        top: 12px
        background: $blue
    &_text
      font-size: 12px
      color: $blue
      padding-right: 8px
      transition: $transition
      position: relative
      z-index: 10
  &__overlay
    position: fixed
    top: 0
    right: 0
    bottom: 0
    width: 0
    height: 100%
    opacity: 0
    transition: $transition
    overflow: hidden
    z-index: 0
    font-size: 26px
    font-weight: 300
    text-align: center
    display: flex
    justify-content: flex-end
    -webkit-overflow-scrolling: touch
    &-btn
      position: absolute
      width: 100%
      height: 100%
      z-index: 2
      backdrop-filter: blur(3px)
      -webkit-backdrop-filter: blur(8px)
      transition: $transition
      opacity: 0
      background: rgba(37, 31, 30, 0.78)
      transition-delay: 2s
    &-box
      display: flex
      flex-direction: column
      height: 100%
      padding: 80px 24px
      background: $blue
      width: 75%
      position: relative
      z-index: 140
    &-img
      opacity: 0.2
      width: 100%
      max-width: 200px
      height: auto
      margin: 0 auto
    &-list
      padding-top: 24px
      &-lang
        display: flex
        align-items: center
        margin: 0 0 16px auto
        background: #5799FF
        border-radius: 12px
        max-width: 88px
        &-item
          padding: 6px 12px
          cursor: pointer
          font-size: 16px
          font-weight: 500
          transition: $transition
          color: $white
          &.active
            background: $white
            border-radius: 12px
            color: $black
            transition: $transition
      &-item
        &-link
          cursor: pointer
          display: block
          position: relative
          color: $white
          text-decoration: none
          font-weight: 500
          font-size: 16px
          line-height: 130%
          margin-bottom: 16px
          text-align: right
    &-item
      &-link
        color: $white
        font-weight: 500
    &-buttons
      position: relative
      font-size: 26px
      font-weight: 300
      text-align: center
      list-style: none
      margin: 0 auto
      display: inline-block
      padding: 40px 0 48px
      &_item
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: 32px
        position: relative
        &:last-of-type
          padding-bottom: 0
        &-link
          border: 1px solid #BDC5D9
          box-sizing: border-box
          border-radius: 69px
          display: block
          position: relative
          color: $blue
          text-decoration: none
          font-weight: 400
          font-size: 24px
          line-height: 160%
          padding: 8px 32px
    &.open
      transition: $transition
      opacity: 1
      z-index: 120
      width: 100%
      & .hamburger__overlay-btn
        opacity: 1
        transition: $transition
        position: fixed
  &__social
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 80px
    &-item
      border-radius: 100%
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
      margin-right: 8px
      &:last-child
        margin-right: 0

  @keyframes fadeInRight
    0%
      opacity: 0
      left: 20%
    100%
      opacity: 1
      left: 0


@media (min-width: 415px)
  .hamburger
    &__btn
      &-open
        margin: 0 auto
    &__overlay
      &-box
        max-width: 440px

@media(max-width: $mobile)
  .hamburger
    &__overlay
      &-list
        &_item
          &-link
            font-size: 16px
      &-buttons
        padding: 16px 0 24px
        &_item
          padding-bottom: 16px
